*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 82%;
    margin: auto;
}
.container-fluid{
    width: 90%;
    margin: auto;
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.33%;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.align-items-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.text-decoration-none{
    text-decoration: none;
}
.position-relative{
    position: relative;
}