/* ============= Fonts ================ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

/* ============= Tags =================== */
body{
    font-family: 'Poppins', sans-serif;
    background: url("/images/ef6izw27ybe41.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section{
    padding: 50px 0;
}

/* ============ Latest blogs part ============ */
.card-img-top{
    opacity: 0.6;
}
.card-title{
    font-size: 1.2rem;
}
.card-text{
    font-size: 0.9rem;
}
.blog-info{
    font-weight: 500;
}
.readmore-btn{
    font-weight: 600;
}

/* ============ Latest blogs part ============ */
